* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    overflow-x: hidden;
    }
    body{
        height: 100vh;
        overflow-x: hidden;
        background-image: url('background.jpg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
    }
    /* navbar */
    header img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 20px;
    }
    .logo{
        border: 1px solid white;
    }
    
    .nav  img{
        transform: scale(0.5);
        margin-left: 10px;
    }
    .nav img:hover{
        transform: scale(0.6);
        transition: 100ms;
    }
     .navbar{
        width: 100%;
        height: 20px;
        margin: 0 auto;
        padding: 70px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }
    
    .navbar_toggle{
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        background: transparent;
        border-style:none ;
        margin-right: 20px;
        display: none;
    }
    .nav{
        margin-right: 70px;
    }
    /* drop down menu */
    .drop_down{
    
    background-color:rgb(41, 53, 66);
    width: 100vw;
    display: none;
    overflow: hidden;
    padding: 10px 0;
    }
    .drop_down a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        overflow: hidden;
        border-bottom: 1px solid black;
    }
    .drop_page{
        background-color: rgb(41, 53, 66);
        transform: scale(0.7);
padding: 0 auto;
    }
    .section_one{
        display: flex;
        margin: 120px 0 100px 0;
        align-items: center;
        justify-content: space-around;
    }
    .section_one h1{
        text-align: left;
        color: white;
    }
    .contact a button{
        margin-top: 20px;
        margin-left: -170px;
        padding: 10px 100px;
        background: none;
        font-size: 30px;
        color: white;
        border-color:  rgb(4, 255, 255);
        border-radius: 9%;
        white-space: nowrap;
    }
    .contact a button:hover{
        background-color:rgb(47, 149, 149);
    }
    .section_one img {
        width: 600px;
        height: 600px;
        box-shadow: 0 0 10px 3px rgb(0, 0, 0);
        object-fit: cover;
    }
    .section_two{
        background-color: white;
        padding: 30px 0 30px 0;
    }
    .section_two h1{
        text-decoration: underline;
        font-size: 50px;
        margin-bottom: 50px;
    }
    /* MY SKILLS */
    .skills_a{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        justify-content: space-around;
        padding: 10px 0;
    }
    .skills_a img{
        margin-bottom: 20px;
    }
    .skills_b{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        padding: 10px 0;
    }
    .skills_b img{
        margin-bottom: 20px;
    }
    .component_a{
        border: 1px solid black;
        padding: 10px 10px;
        border-radius: 5%;
        overflow: hidden;
        transform: scale(0.9);
    }
    .component_a:nth-child(1){
        border: 1px solid aqua;
    }
    .component_a:nth-child(2){
        border: 1px solid red;
    }
    .component_a:nth-child(3){
        border: 1px solid purple;
    }
    .component_a:nth-child(4){
        border: 1px solid rgb(255, 251, 0);
    }
    .component_a:hover{
        box-shadow: 0 -3px 8px 2px black;
        transition: 500ms;
        cursor: pointer;
    }
    .section_three{
    padding-top: 50px;
    background-color: black;
    }
    .section_three h1{
        margin-bottom: 50px;
        color: white;
        text-decoration: underline;
    }
    .section_three a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        color: white;
        margin-top: 50px;
    }
    .projects{
        padding-bottom: 100px;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        background-color: white;
    }
    .projects a img{
        width: 350px;
        height: 300px;
        object-fit: contain;
        filter:brightness(0.5);
        margin-top: -20px;
    }
    .projects a img:hover{
        filter: brightness(1);
        transition: 500ms;
    }
    .projects a{
        display: flex;
        flex-direction: column;
        color: black;
        box-shadow: 0 2px 7px 2px black;
        padding: 10px 10px;
        border-radius: 5%;
    }
    .projects a:nth-child(1):hover{
        background-color: rgb(226, 192, 226);
        color: rgb(65, 64, 64);
        transition: 300ms;
    }
    .projects a:nth-child(2):hover{
        background-color: rgb(209, 128, 98);
        color: white;
        transition: 300ms;
    }
    .projects a:nth-child(3):hover{
        background-color: rgb(199, 161, 49);
        color:  rgb(247, 238, 213);
        transition: 300ms;
    }
    .projects a p{
        text-align: left;
        margin-bottom: 30px;
        font-weight: bolder;
        font-size: 20px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    /* FOOTER */
    footer{
        color: white;
        background-color: black;
        padding: 30px 0;
    }
    footer a{
        margin:  0 30px;
    }
    footer a img{
        margin-top: 30px;
        margin-bottom: 15px;
        transform: scale(0.6);
    }
    footer a img:hover{
        transform: scale(1);
        transition: 300ms;
    }
    @media (max-width:1300px) {
        .projects a{
            transform: scale(0.7);
          }
    }
    @media(max-width: 1178px){
        .section_one{
            transform: scale(0.8);
        }
        .section_one img{
        transform: scale(0.8);
        }
        .contact a button{
       font-size: 20px;
        }
    }
    @media (max-width: 1065px){
        .contact a button{
            padding: 20px 88px;
        }
        .projects a img{
            filter:brightness(1);
        }
    }
    @media (max-width: 992px){
        header img {
            width: 100px;
            height: 100px;
        }
        .contact a button{
            padding: 15px 45px;
          }
    }
    @media(max-width:912px){
        .contact a button{
            padding: 15px 70px;
        }
    }
    @media (max-width: 750px){
        /* navbar */
        .nav a{
            display: none;
        }
        .navbar_toggle{
            display:block;
            font-size: 35px;
        }
        .drop_down{
             display: none;
        }
        .drop_down.visible {
            display: block;
          }
          .section_one{
            flex-direction: column;
          }
          .section_one img{
            width: 500px;
            height: 500px;
          }
          .section_one h1{
            margin-left: 30px;
            transform: scale(0.8);
          }
          /* My skills */
          .skills_a{
            flex-direction: column;
            margin-bottom: -20px;
          }
          .skills_b{
            flex-direction: column;
          }
          .projects{
            flex-direction: column;
          }
          .projects a{
            transform: scale(0.7);
          }
          .contact a button{
            padding: 15px 90px;
            position: relative;
            left: 30px;
          }
    }    
    @media(max-width:562px){
        .contact a button{
            padding: 15px 60px;   
        }
    }
    @media(max-width:461px){
        .contact a button{
            padding: 15px 40px;
            left: 50px;
        }
    }
    @media(max-width:346px){
        .contact a button{
            padding: 15px 40px;
            left: 70px;
        }
    }
    @media (max-width:295px) {
        .section_one img{
            height: 400px;
        }
        .contact a button{
            padding: 15px 20px;
            position: relative;
            left: 70px;
          }
    }    