* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
}
body {
  height: 100vh;
  overflow-x: hidden;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body, html{
  min-width: 320px;
}
/* navbar */
.nav a{
  text-decoration: none;
}
header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}
.logo {
  border: 1px solid white;
}

.nav img {
  transform: scale(0.5);
  margin-left: 10px;
}
.navbar {
  width: 100%;
  height: 20px;
  margin: 0 auto;
  padding: 70px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.navbar_toggle {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  background: transparent;
  border-style: none;
  margin-right: 20px;
  display: none;
}
/* drop down menu */
.drop_down {
  width: 100dvw;
  height: 100dvh;
  display: none;
  overflow: hidden;
}
.drop_down a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  overflow: hidden;
  border: 1px solid white;
  padding: 100px 0;
}
.drop_down a img {
  height: 50px;
  width: 50px;
}
.section_one {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0 60px 0;
}
.section_one h1 {
  text-align: left;
  color: white;
}
.contact{
  justify-items: left;
}
/* get in touch button code */
.contact a button {
  margin-top: 20px;
  font-size: 30px;
  text-decoration: none;
  border: 2px solid aqua;
  background: transparent;
  padding: 10px 100px;
  position: relative;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  transition: 1s;
  overflow: hidden;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.contact a button:hover {
  color: black;
}
.contact a button span {
  position: relative;
  z-index: 2;
}
.contact a button::before {
  content: "";
  position: absolute;
  background-color: aqua;
  width: 0px;
  height: 0px;
  top: var(--yPos);
  left: var(--xPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.5s ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.contact a button:hover::before {
  width: 800px;
  height: 400px;
}
/* get in touch button code ends here */
.section_one img {
  width: 500px;
  height: 550px;
  object-fit: cover;
  border-radius: 0 0 50% 50%;
  cursor: pointer;
}
.section_two {
  background-color: white;
  padding: 30px 0 30px 0;
}
.section_two h1 {
  text-decoration: underline;
  font-size: 50px;
  margin-bottom: 50px;
}
/* MY SKILLS */
.skills_a {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  justify-content: space-around;
  padding: 10px 0;
}
.skills_a img {
  margin-bottom: 20px;
}
.skills_b {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 10px 0;
}
.skills_b img {
  margin-bottom: 20px;
}
.component_a {
  border: 1px solid black;
  padding: 10px 10px;
  border-radius: 5%;
  overflow: hidden;
  transform: scale(0.9);
}
.component_a:nth-child(1) {
  border: 1px solid aqua;
}
.component_a:nth-child(2) {
  border: 1px solid red;
}
.component_a:nth-child(3) {
  border: 1px solid purple;
}
.component_a:nth-child(4) {
  border: 1px solid rgb(255, 251, 0);
}
.component_a:hover {
  box-shadow: 3px 5px 5px 1px rgb(110, 110, 110);
  transition: 500ms;
  cursor: pointer;
}
.section_three {
  padding-top: 50px;
  background-color: black;
}
.section_three h1 {
  margin-bottom: 50px;
  color: white;
  text-decoration: underline;
}
.section_three a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 50px;
}
.projects {
  padding: 0 clamp(10px, 3vw, 50px) 100px clamp(10px, 3vw, 50px);
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}
.projects a img {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  object-fit: contain;
  filter: brightness(0.5);
}
.projects a:hover img {
  filter: brightness(1);
  transition: 500ms;
}
.projects a {
  display: flex;
  max-width: 300px;
  overflow-wrap: break-word;
  white-space: normal;
  flex-direction: column;
  align-items:baseline;
  text-align: center;
  color: black;
  border: 1px solid black;
  border-radius: 2%;
}
.projects a:nth-child(1):hover {
  background-color: rgb(215, 242, 245);
  transition: 300ms;
  box-shadow: 3px 5px 2px 1px black;
    border: none;
}
.projects a:nth-child(2):hover{
  background-color: rgb(255, 233, 224);
  box-shadow: 3px 5px 2px 1px black;
  transition: 300ms;
  border: none;
}
.projects a:nth-child(3):hover {
  background-color: rgb(250, 239, 239);
  transition: 300ms;
    box-shadow: 3px 5px 2px 1px black;
      border: none;
}
.projects a:nth-child(4):hover {
  background-color: rgb(227, 225, 255);
  transition: 300ms;
    box-shadow: 3px 5px 2px 1px black;
      border: none;
}
.projects a p {
  text-align: left;
  padding: 10px;
  margin-bottom: 30px;
  font-weight:600;
  font-size: 17px;
  overflow:visible;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* FOOTER */
footer {
  color: white;
  background-color: black;
  padding: 30px 0;
}
footer a {
  margin: 0 30px;
  text-decoration: none;
}
footer a img {
  margin-top: 30px;
  margin-bottom: 15px;
  transform: scale(0.6);
  text-decoration: none;
}
footer a button i {
  color: white;
  font-size: 25px;
  position: relative;
  top: 5px;
  margin: 0 5px;
}
footer a button {
  color: white;
  cursor: pointer;
  padding: 5px 5px 10px 5px;
  background-color: transparent;
  border: none;
}
@media (max-width: 1178px) {
  .section_one {
    transform: scale(0.8);
  }
  .section_one img {
    transform: scale(0.8);
  }
  .contact a button {
    font-size: 20px;
  }
}
@media (max-width: 1065px) {
  .contact a button {
    padding: 20px 88px;
  }
  .projects a img {
    filter: brightness(1);
  }
}
@media (max-width: 992px) {
  header img {
    width: 100px;
    height: 100px;
  }
  .contact a button {
    padding: 15px 45px;
  }
}
@media (max-width: 912px) {
  .contact a button {
    padding: 15px 70px;
  }
}
@media (max-width: 750px) {
  /* navbar */
  .nav a {
    display: none;
  }
  .navbar_toggle {
    display: block;
    font-size: 35px;
  }
  .drop_down {
    display: none;
  }
  .drop_down.visible {
    display: block;
  }
  .section_one {
    flex-direction: column;
    margin-top: -40px;
  }
  .section_one img {
    width: 500px;
    height: 500px;
  }
  /* My skills */
  .skills_a {
    flex-direction: column;
    margin-bottom: -20px;
  }
  .skills_b {
    flex-direction: column;
  }
}
@media (max-width: 383px) {
  footer h1{
    font-size: 20px;
  }
  footer a{
    margin: 0 auto;
  }
}
@media (max-width: 346px) {
  .contact a button {
    padding: 15px 40px;
  }
}
@media (max-width: 295px) {
  .section_one img {
    height: 400px;
  }
  .contact a button {
    padding: 15px 20px;
  }
}
